In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

In [2]:
data= pd.read_csv(r'C:\Users\hp\Desktop\Project\swahili news classification\Train.csv')
data.head()

       id                                            content  category
0     SW0   SERIKALI imesema haitakuwa tayari kuona amani...   Kitaifa
1     SW1   Mkuu wa Mkoa wa Tabora, Aggrey Mwanri amesiti...  Biashara
2    SW10   SERIKALI imetoa miezi sita kwa taasisi zote z...   Kitaifa
3   SW100   KAMPUNI ya mchezo wa kubahatisha ya M-bet ime...   michezo
4  SW1000   WATANZANIA wamekumbushwa kusherehekea sikukuu...   Kitaifa

In [3]:
data.isna().sum()

id          0
content     0
category    0
dtype: int64

In [4]:
data['category'].value_counts()

Kitaifa      2000
michezo      1720
Biashara     1360
Kimataifa      54
Burudani       17
Name: category, dtype: int64

In [5]:
data = data[["content", "category"]]

x = np.array(data["content"])
y = np.array(data["category"])

cv = CountVectorizer()
X = cv.fit_transform(x)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=40)

model = MultinomialNB()
model.fit(X_train,y_train)

MultinomialNB()

In [6]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, model.predict(X_test)))

0.8258823529411765

In [7]:
INPUT = input("Enter a Text: ")
data = cv.transform([INPUT]).toarray()
output = model.predict(data)
print(output)

Enter a Text: SERIKALI imesema haitakuwa tayari kuona amani...
['Kitaifa']

In [8]:
data1 = data= pd.read_csv(r'C:\Users\hp\Desktop\Project\swahili news classification\Test.csv')
data1.head()

,swahili_id,content
0,001dd47ac202d9db6624a5ff734a5e7dddafeaf2,"MKUU wa Wilaya ya Bahi, Mkoani Dodoma, Mwanah..."
1,0043d97f7690e9bc02f0ed8bb2b260d1d44bad92,"MWISHONI mwa wiki hii, Timu ya Soka ya Taifa,..."
2,00579c2307b5c11003d21c40c3ecff5e922c3fd8,THAMANI ya mauzo ya bidhaa za Afrika Masharik...
3,00868eeee349e286303706ef0ffd851f39708d37,MENEJA Mawasiliano na Utetezi wa asasi ya AGP...
4,00a5cb12d3058dcf2e42f277eee599992db32412,"WAZIRI wa Kilimo, Japhet Hasunga amesema seri..."

In [9]:
dataa = cv.transform(data1['content']).toarray()
output = model.predict(dataa)
output

array(['Kitaifa', 'michezo', 'Biashara', ..., 'michezo', 'michezo',
       'Kitaifa'], dtype='<U9')

In [10]:

data1['predicted'] = output
data1

,swahili_id,content,predicted
0,001dd47ac202d9db6624a5ff734a5e7dddafeaf2,"MKUU wa Wilaya ya Bahi, Mkoani Dodoma, Mwanah...",Kitaifa
1,0043d97f7690e9bc02f0ed8bb2b260d1d44bad92,"MWISHONI mwa wiki hii, Timu ya Soka ya Taifa,...",michezo
2,00579c2307b5c11003d21c40c3ecff5e922c3fd8,THAMANI ya mauzo ya bidhaa za Afrika Masharik...,Biashara
3,00868eeee349e286303706ef0ffd851f39708d37,MENEJA Mawasiliano na Utetezi wa asasi ya AGP...,Kitaifa
4,00a5cb12d3058dcf2e42f277eee599992db32412,"WAZIRI wa Kilimo, Japhet Hasunga amesema seri...",Biashara
...,...,...,...
1283,feb4b0ae88524c9cee3e50f2301d84a235f3c607,MKURUGENZI Msaidizi Msajili wa Asasi za kirai...,Kitaifa
1284,fecf3f14f47237e02721ed4baa4eb6c11abd239f,Kilomoni alisema jana kesho atazungumzia sual...,michezo
1285,feed09e13586d12139cd59bc20996a4d29706606,"TIMU ya taifa ya soka ya Tanzania Bara, Kilim...",michezo
1286,ffc0bca6fde8fa0cce1ac3a7b0d746603d441bf8,"YANGA imetozwa faini ya Sh 3,500,000 kutokana...",michezo
1287,fffdd6f356ed5b8dba21717f60c53f6520e650ab,MAHAKAMA Kuu Kanda ya Dar es Salaam imekubali...,Kitaifa

In [11]:
data2= data1.drop(['content'], axis=1)
data2

                                    swahili_id predicted
0     001dd47ac202d9db6624a5ff734a5e7dddafeaf2   Kitaifa
1     0043d97f7690e9bc02f0ed8bb2b260d1d44bad92   michezo
2     00579c2307b5c11003d21c40c3ecff5e922c3fd8  Biashara
3     00868eeee349e286303706ef0ffd851f39708d37   Kitaifa
4     00a5cb12d3058dcf2e42f277eee599992db32412  Biashara
...                                        ...       ...
1283  feb4b0ae88524c9cee3e50f2301d84a235f3c607   Kitaifa
1284  fecf3f14f47237e02721ed4baa4eb6c11abd239f   michezo
1285  feed09e13586d12139cd59bc20996a4d29706606   michezo
1286  ffc0bca6fde8fa0cce1ac3a7b0d746603d441bf8   michezo
1287  fffdd6f356ed5b8dba21717f60c53f6520e650ab   Kitaifa

[1288 rows x 2 columns]

In [12]:
swahili_dummies = pd.get_dummies(data2.predicted, prefix="predicted")
data2_dummies = pd.concat([data2,swahili_dummies], axis='columns')

In [13]:
swahili_classification = data2_dummies.drop(['predicted'], axis=1)
swahili_classification

,swahili_id,predicted_Biashara,predicted_Kitaifa,predicted_michezo
0,001dd47ac202d9db6624a5ff734a5e7dddafeaf2,0,1,0
1,0043d97f7690e9bc02f0ed8bb2b260d1d44bad92,0,0,1
2,00579c2307b5c11003d21c40c3ecff5e922c3fd8,1,0,0
3,00868eeee349e286303706ef0ffd851f39708d37,0,1,0
4,00a5cb12d3058dcf2e42f277eee599992db32412,1,0,0
...,...,...,...,...
1283,feb4b0ae88524c9cee3e50f2301d84a235f3c607,0,1,0
1284,fecf3f14f47237e02721ed4baa4eb6c11abd239f,0,0,1
1285,feed09e13586d12139cd59bc20996a4d29706606,0,0,1
1286,ffc0bca6fde8fa0cce1ac3a7b0d746603d441bf8,0,0,1
1287,fffdd6f356ed5b8dba21717f60c53f6520e650ab,0,1,0